*{
    margin: auto;
    width:500px;
    position:relative;
}

body{
    margin: center;
    background-color: teal;
}

.big-div{
    background-color: red;
}
p1{
    position: relative;
    font: sans-serif;
    font-size: 20px;
    
}

{
    position: absolute;
    font-size: 18px;
.big-div{

}